.sidebar {
  width: 100px;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.status-indicator {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--background-dark);
  background-color: var(--secondary-color);
}

@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
}