.message {
  display: flex;
  margin-bottom: 10px;
  max-width: 80%;
}

.message.me {
  align-self: flex-end;
}

.message.other {
  align-self: flex-start;
}

.message-content {
  padding: 10px 15px;
  border-radius: 7.5px;
  position: relative;
}

.message.me .message-content {
  background-color: var(--message-me);
  border-top-right-radius: 0;
}

.message.other .message-content {
  background-color: var(--message-other);
  border-top-left-radius: 0;
}

.message-time {
  display: block;
  font-size: 0.6875rem;
  color: var(--text-secondary);
  text-align: right;
  margin-top: 5px;
}